In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [32]:
#get raw data
passing_network = pd.read_csv(filepath_or_buffer=r"..\data\england_passing_data_vs_senegal.csv")
passing_network

,Passes From v to >,PICKFORD Jordan,WALKER Kyle,SHAW Luke,RICE Declan,STONES John,MAGUIRE Harry,HENDERSON Jordan,KANE Harry,SAKA Bukayo,FODEN Phil,BELLINGHAM Jude
0,PICKFORD Jordan,NaN,1.0,4.0,6.0,16.0,3.0,1.0,1.0,1.0,0.0,2.0
1,WALKER Kyle,5.0,NaN,1.0,7.0,15.0,8.0,7.0,0.0,5.0,1.0,1.0
2,SHAW Luke,0.0,0.0,NaN,4.0,3.0,13.0,1.0,5.0,0.0,11.0,5.0
3,RICE Declan,3.0,9.0,4.0,NaN,12.0,6.0,4.0,2.0,1.0,0.0,3.0
4,STONES John,9.0,18.0,4.0,8.0,NaN,17.0,12.0,1.0,2.0,1.0,1.0
5,MAGUIRE Harry,7.0,6.0,16.0,2.0,11.0,NaN,0.0,1.0,0.0,7.0,6.0
6,HENDERSON Jordan,2.0,10.0,0.0,4.0,9.0,0.0,NaN,1.0,6.0,0.0,2.0
7,KANE Harry,1.0,1.0,2.0,1.0,0.0,0.0,4.0,NaN,2.0,3.0,2.0
8,SAKA Bukayo,0.0,8.0,2.0,2.0,1.0,0.0,3.0,3.0,NaN,1.0,1.0
9,FODEN Phil,0.0,1.0,7.0,1.0,1.0,3.0,0.0,8.0,1.0,NaN,2.0
10,BELLINGHAM Jude,1.0,1.0,3.0,2.0,2.0,8.0,2.0,2.0,3.0,3.0,NaN

In [33]:
#sum up the total pass each person does
passing_network["total_passes"] = passing_network.sum(axis='columns', numeric_only=True)
passing_network

,Passes From v to >,PICKFORD Jordan,WALKER Kyle,SHAW Luke,RICE Declan,STONES John,MAGUIRE Harry,HENDERSON Jordan,KANE Harry,SAKA Bukayo,FODEN Phil,BELLINGHAM Jude,total_passes
0,PICKFORD Jordan,NaN,1.0,4.0,6.0,16.0,3.0,1.0,1.0,1.0,0.0,2.0,35.0
1,WALKER Kyle,5.0,NaN,1.0,7.0,15.0,8.0,7.0,0.0,5.0,1.0,1.0,50.0
2,SHAW Luke,0.0,0.0,NaN,4.0,3.0,13.0,1.0,5.0,0.0,11.0,5.0,42.0
3,RICE Declan,3.0,9.0,4.0,NaN,12.0,6.0,4.0,2.0,1.0,0.0,3.0,44.0
4,STONES John,9.0,18.0,4.0,8.0,NaN,17.0,12.0,1.0,2.0,1.0,1.0,73.0
5,MAGUIRE Harry,7.0,6.0,16.0,2.0,11.0,NaN,0.0,1.0,0.0,7.0,6.0,56.0
6,HENDERSON Jordan,2.0,10.0,0.0,4.0,9.0,0.0,NaN,1.0,6.0,0.0,2.0,34.0
7,KANE Harry,1.0,1.0,2.0,1.0,0.0,0.0,4.0,NaN,2.0,3.0,2.0,16.0
8,SAKA Bukayo,0.0,8.0,2.0,2.0,1.0,0.0,3.0,3.0,NaN,1.0,1.0,21.0
9,FODEN Phil,0.0,1.0,7.0,1.0,1.0,3.0,0.0,8.0,1.0,NaN,2.0,24.0
10,BELLINGHAM Jude,1.0,1.0,3.0,2.0,2.0,8.0,2.0,2.0,3.0,3.0,NaN,27.0

In [34]:
#perform arithmetic on the absolute passing statistics and persist the passes
#from and to column

passing_network_as_percents = pd.concat([passing_network["Passes From v to >"],
    (passing_network.iloc[:,1:-1].div(passing_network["total_passes"].values,
         axis = 0)).multiply(100).round(2)], axis = 1)

passing_network_as_percents

,Passes From v to >,PICKFORD Jordan,WALKER Kyle,SHAW Luke,RICE Declan,STONES John,MAGUIRE Harry,HENDERSON Jordan,KANE Harry,SAKA Bukayo,FODEN Phil,BELLINGHAM Jude
0,PICKFORD Jordan,NaN,2.86,11.43,17.14,45.71,8.57,2.86,2.86,2.86,0.00,5.71
1,WALKER Kyle,10.00,NaN,2.00,14.00,30.00,16.00,14.00,0.00,10.00,2.00,2.00
2,SHAW Luke,0.00,0.00,NaN,9.52,7.14,30.95,2.38,11.90,0.00,26.19,11.90
3,RICE Declan,6.82,20.45,9.09,NaN,27.27,13.64,9.09,4.55,2.27,0.00,6.82
4,STONES John,12.33,24.66,5.48,10.96,NaN,23.29,16.44,1.37,2.74,1.37,1.37
5,MAGUIRE Harry,12.50,10.71,28.57,3.57,19.64,NaN,0.00,1.79,0.00,12.50,10.71
6,HENDERSON Jordan,5.88,29.41,0.00,11.76,26.47,0.00,NaN,2.94,17.65,0.00,5.88
7,KANE Harry,6.25,6.25,12.50,6.25,0.00,0.00,25.00,NaN,12.50,18.75,12.50
8,SAKA Bukayo,0.00,38.10,9.52,9.52,4.76,0.00,14.29,14.29,NaN,4.76,4.76
9,FODEN Phil,0.00,4.17,29.17,4.17,4.17,12.50,0.00,33.33,4.17,NaN,8.33
10,BELLINGHAM Jude,3.70,3.70,11.11,7.41,7.41,29.63,7.41,7.41,11.11,11.11,NaN

In [35]:
# Figure out how to make an edgelist with the top x connections 
cutoff_players = 3

player_data_df = pd.DataFrame()
edgelist = pd.DataFrame()

for i in range(11):
    player_data_to = passing_network_as_percents.iloc[i,1:] #data on player being passed to
    player_from = passing_network_as_percents.iloc[i,0] #name of player doing the passing

    #sort the values 
    player_data_to.sort_values(ascending=False, inplace=True)
    

    player_data_df["From"] = [player_from] * cutoff_players
    player_data_df["To"] = player_data_to.iloc[:cutoff_players].index
    player_data_df["value"] = player_data_to[:cutoff_players].values
    
    #append to higher dataframe
    edgelist = edgelist.append(player_data_df, ignore_index=True)
# player_data_df.head(cutoff_players)
edgelist

                 From                 To  value
0     PICKFORD Jordan       STONES John   45.71
1     PICKFORD Jordan        RICE Declan  17.14
2     PICKFORD Jordan          SHAW Luke  11.43
3         WALKER Kyle       STONES John    30.0
4         WALKER Kyle      MAGUIRE Harry   16.0
5         WALKER Kyle        RICE Declan   14.0
6           SHAW Luke      MAGUIRE Harry  30.95
7           SHAW Luke         FODEN Phil  26.19
8           SHAW Luke         KANE Harry   11.9
9         RICE Declan       STONES John   27.27
10        RICE Declan        WALKER Kyle  20.45
11        RICE Declan      MAGUIRE Harry  13.64
12       STONES John         WALKER Kyle  24.66
13       STONES John       MAGUIRE Harry  23.29
14       STONES John   HENDERSON Jordan   16.44
15      MAGUIRE Harry          SHAW Luke  28.57
16      MAGUIRE Harry       STONES John   19.64
17      MAGUIRE Harry    PICKFORD Jordan   12.5
18  HENDERSON Jordan         WALKER Kyle  29.41
19  HENDERSON Jordan        STONES John   26.47
20  HENDERSON Jordan         SAKA Bukayo  17.65
21         KANE Harry  HENDERSON Jordan    25.0
22         KANE Harry         FODEN Phil  18.75
23         KANE Harry          SHAW Luke   12.5
24        SAKA Bukayo        WALKER Kyle   38.1
25        SAKA Bukayo  HENDERSON Jordan   14.29
26        SAKA Bukayo         KANE Harry  14.29
27         FODEN Phil         KANE Harry  33.33
28         FODEN Phil          SHAW Luke  29.17
29         FODEN Phil      MAGUIRE Harry   12.5
30    BELLINGHAM Jude      MAGUIRE Harry  29.63
31    BELLINGHAM Jude          SHAW Luke  11.11
32    BELLINGHAM Jude        SAKA Bukayo  11.11

In [36]:
#now to use networkx
import networkx as nx
G = nx.from_pandas_edgelist(edgelist,
                            source="From",
                            target="To",
                            edge_attr="value")

In [37]:
# import pyvis
from pyvis.network import Network
# create vis network
net = Network(notebook=True, width=1000, height=600)
# load the networkx graph
net.from_nx(G)
# show
net.show("../outputs/passing_network.html")

Local cdn resources have problems on chrome/safari when used in jupyter-notebook.